.check__input {
  display: none;
}

.check__icon {
  visibility: hidden;
}

.check__label {
  display: inline-block;
  border: 2px solid #4d4d4d;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.check__input:hover ~ .check__label {
  border-color: #0f0f0f;
}

.check__input:checked ~ .check__label {
  border-color: #0f0f0f;
}

.check--checkbox .check__mark {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check--radio .check__mark {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  margin-top: 3px;
  margin-left: 3px;
}

.check__input:checked ~ .check__label .check__mark {
  background-color: #20c3ff;
}

.check--checkbox .check__input:checked ~ .check__label .check__icon {
  visibility: visible;
}

.check--checkbox .check__label {
  border-radius: 0;
}

.check--radio .check__label {
  border-radius: 100%;
}
