.story-view {
  display: flex;
}

.story-view__cover {
  width: 200px;
  margin: 1rem;
}

.story-view__image {
  width: 100%;
}

.story-view__info {
  flex-grow: 1;
  text-align: left;
  padding: 1rem;
}

.story-view--loading .story-view__cover {
  background-color: lightgray;
  animation: tinkle 500ms infinite;
}

@keyframes tinkle {
  0% {
    background-color: lightgray;
  }
  100% {
    background-color: white;
  }
}
